<h1>Movie Characters for everyone!</h1>

<div class="container">
  <div class="fan-list">
    <h2>Movie Characters</h2>
    <!-- <button (click)="addRandomFan('madrid')">Add Random Fan</button> -->
    <div *ngFor="let charac of characters; let i = index">
      <h4 (click)="showDetails(charac)">{{ charac.name }}</h4>
      <app-character-item
        *ngIf="charac.reveal"
        [charProp]="charac"
        [index]="i"
      ></app-character-item>
      <!-- <button (click)="removeChar(i, 'madrid')">Delete</button> -->
    </div>
  </div>

  <!-- <div class="fan-list">
    <h2>Selected Character</h2>
    <div *ngFor="let charac of characters; let i = index">
      <p>{{ charac.name }}</p>
      
    
    </div>
  </div> -->
</div>
